<h1>Employee: <%= @employee.first_name %></h1>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email Address</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @employee.first_name %></td>
        <td><%= @employee.last_name %></td>
        <td><%= @employee.email %></td>
      </tr>
  </tbody>
</table>
